#contactsPageBody {
  background-color: #e5e1e6;
}

#contactsBody {
  display: inline-block;
}

#ucfLogo {
  background-image: url("../images/pegasus-logo.png");
  position: fixed;
  right: 10px;
  bottom: 10px;
  max-width: 12%;
  max-height: 12%;
}

#search {
  width: 50%;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

#searchInputDiv {
  overflow: hidden;
  padding-right: 0.5em;
}

#searchBar {
  width: 100%;
}

#searchButton {
  float: right;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

#contactsHeader {
  text-align: left;
  color: #ffc904;
  background: rgba(0, 0, 0, 0.9);
  font-size: 2em;
  padding: 0.25em;
  padding-right: 0.5em;
  border-bottom: 4px solid #ffc904;
}

table {
  margin-top: 0.5em;
}

#tableHead {
  background-color: #ffc904;
  border: 3px solid black;
}

tr:nth-child(odd) {
  background-color: #c2c9d0;
}

tr:nth-child(even) {
  background-color: #dbe2e9;
}

#addButton {
  margin-top: 1em;
  margin-left: 0.5em;
}

caption {
  margin-left: 0.5em;
}
