#loginBody {
  background-image: url("../images/reflecting-pond.jpeg");
}

a {
  padding: 0.25em;
}

#outer {
  margin: 2em 0em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projectHeader {
  width: 50%;
  background: black;
  color: #ffc904;
  font-size: 2.5em;
  text-align: center;
  border: 3px solid #ffc904;
  border-radius: 0.5em;
}

#formDiv {
  width: 50%;
}

#loginForm {
  background: white;
  border: 3px solid #f1f1f1;
  border-radius: 0.5em;
  padding: 1.25em;
  margin: 4em 0em;
}

#registerPrompt {
  margin: 0.5em 0em;
}
